<ion-header>
  <ion-toolbar>
    <ion-title>account</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="save()">Save</ion-button>
    </ion-buttons>  
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="ion-margin-top ion-margin-horizontal">
    <ion-label class="input-label" position="floating">Name</ion-label>
    <ion-input type="text" [(ngModel)]="acc_name"></ion-input>
  </ion-item>
  <ion-item class="ion-margin-top ion-margin-horizontal">
    <ion-label class="input-label" position="floating">Address</ion-label>
    <ion-input type="text" [(ngModel)]="acc_address"></ion-input>
  </ion-item>
</ion-content>
